<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPumpService" />
                <binding name="WSDualHttpBinding_IPumpService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50002/PumpService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPumpService" contract="PumpServiceReference.IPumpService"
                name="WSDualHttpBinding_IPumpService">
                <identity>
                    <userPrincipalName value="DESKTOP-71K2TF1\admin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:65473/PumpService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPumpService1" contract="ServiceReference1.IPumpService"
                name="WSDualHttpBinding_IPumpService1">
                <identity>
                    <userPrincipalName value="WIN-DVECG9RQ8RK\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>